body {
  margin: 0 auto;
  padding: 0;
  background-color: #f5fcfe;
  width: 100%;
}

.heading-image {
  margin: auto;
  object-fit: cover;
  display: inline-block;
  width: 900px;
  height: 277px;
}

.heading-image-wrapper {
  margin: auto;
  width: 900px;
  height: 277px;
}

.searchFormDiv {
  width: 760px;
  height: 160px;
  margin: auto;
  margin-top: 50px;
  border: solid 1px black;
  overflow: hidden;
  border-radius: 5px;
  padding: 30px 15px 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.searchFormDiv.expanded {
  height: 320px;
}

.search-form {
  margin-bottom: 15px;
}

.hidden {
  display: none;
}

#city {
  padding-left: 2px;
  padding-right: 15px;
  margin-right: 15px;
  width: 150px;
  height: 30px;
}

#type {
  padding-left: 2px;
  padding-right: 15px;
  margin-right: 15px;
  width: 150px;
  height: 30px;
}

#budget-lowest {
  padding-left: 2px;
  padding-right: 15px;
  margin-right: 15px;
  width: 100px;
  height: 24px;
}

#budget-highest {
  padding-left: 2px;
  padding-right: 15px;
  width: 100px;
  height: 24px;
}

#rooms {
  margin-top: 30px;
  padding-left: 2px;
  padding-right: 15px;
  width: 180px;
  height: 30px;
}

#offer-type {
  padding-left: 2px;
  padding-right: 15px;
  margin-right: 15px;
  width: 150px;
  height: 30px;
}

.filters-btn {
  width: 180px;
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.best-offers {
  width: 450px;
  height: 280px;
  border: solid 1px rgb(112, 112, 112);
  border-radius: 7px;
}

.best-offers-list {
  width: -webkit-fill-available;
  margin-top: 10px;
  margin-bottom: 70px;
  display: flex inline;
  column-gap: 40px;
  row-gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.navigation {
  background-color: #6385a8;
  height: 40px;
  margin-bottom: 20px;
}

#search-form-title {
  text-align: center;
  margin-top: -8px;
}

.search-btn-form {
  margin: 15px;
}

.short-offer-description {
  width: 380px;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.short-offer-description-li {
  position: relative;
  top: 50px;
}

.offer-title {
  text-align: center;
  margin-top: 5px;
}

.offer-heading-img {
  width: 180px;
  height: 130px;
  position: relative;
  top: -170px;
  left: 20px;
}

.offer-characteristics {
  position: relative;
}

.right-positioned-specs {
  position: relative;
  left: 190px;
  top: 10px;
}

.offer-list-title {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
}

header {
  position: sticky;
  top: 0px;
}

.login-div {
  display: flex;
  justify-content: center;
}

.signup-form-wrapper {
  display: flex;
 
}


.signup-form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  border: solid 1px;
  width: 500px;
  height: 400px;
  margin: auto;
  column-gap: 60px;
  flex-direction: column;
}