.my-offers-list-wrapper {
  display: flex;
    align-content: center;
    width: 100%;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
    min-height: 91.9vh;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100vw - 20px);
    overflow: hidden;
  }

  .add-offer-link {
    text-decoration: none;
    color: white;
  }

  .my-offers-list {
    width: -webkit-fill-available;
    margin-top: 10px;
    margin-bottom: 70px;
    display: flex inline;
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .my-offers-title {
    position: relative;
  }