.navigation {
    background-color: #6385a8;
    height: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 20px;
    z-index: 10;
    position: sticky;
    justify-content: space-between;
}

#user-navigation {
    display: flex;
    column-gap: 10px;
    right: 30px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: white;

}

#guest-navigation {
    display: flex;
    column-gap: 10px;
    right: 30px;
    position: relative;
}

.signup-link {
    position: relative;
    right: 30px;
}

.login-link {
    position: relative;
    right: 30px;
}

.add-offer-link {
    text-decoration: none;
    color: white;
}
header {
    position: sticky;
    top: 0px;
    z-index: 10;
  }

  .home-link {
    position: relative;
    left: 30px;
  }