.login-div {
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    padding-bottom: 3.5rem;
    min-height: 91.9vh; */

    display: flex;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
    position: relative;
    min-height: 91.9vh;
  }

  .login-form-card {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 20px;
    width: 350px;
    height: 200px; */

    display: flex;
    align-content: center;
    justify-content: center;
    width: 500px;
    height: 420px;
    margin-bottom: 3.5rem;
    flex-wrap: wrap;
  }

  .login-form {
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 20px;
    width: 260px;
    height: 140px; */

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 500px;
    height: 420px;
    margin: auto;
    column-gap: 60px;
    flex-direction: column;
    margin-top: 45px;
  }

.password-input {
  margin-bottom: 30px;
}

.login-button {
  margin-bottom: 15px;
}

.login-title {
  position: absolute;
  top: 15px;
  margin-top: 10px;
  text-align: center;
  width: 500px;
}