.offer-wrapper {

  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  position: relative;
  min-height: 91.9vh;
  width: 100%;
  flex-wrap: wrap;
  align-content: space-between;
  width: calc(100vw - 20px);
  overflow: hidden;

}